body{
    background-color: #3F3F41;
}
p{
    color: #FFFFFF;
    font-family: sans-serif;
}
p.redovi{
    margin-top: 0;
}
h3{
    margin-top: 30px;
    transform: rotate(-90deg);

    color: #58585A;
    font-family: sans-serif;
}
input{
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
}
input[type=text]{
    background-color: #535355;
    width: 12em;
    height: 3em;


}
input[type=submit]{
    background-color: #7AB139;
    width: 20em;
    height: 60px;
    margin-top: 40px;
    font-weight: bold;
    border: 0;
}
.input{
    padding-left: 2.5em;
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;

}

.output{
    padding-left: 2.5em;
    display: inline-block;
    padding-top: 2em;

}
.inputWord{
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;

}
.outputWord{
    display: inline-block;
    vertical-align: top;
    padding-top: 2em;
}

table{


    border-spacing: 0;
    font-weight: bold;

}
th, td {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 0.3em;
    text-align: center;
    height: 4em;
    width: 4em;
    position: relative;

}

.firstCell{
    background-color: #58585A;
}
.left::before, .down::before, .right::before, .up::before {
    font-size: 0.7em;
    color: #849769 ;
    text-shadow: 0 0 4px #072605;
    position: absolute;
    z-index: 1;
}
.left::before{
    content: "━━";
    top: 40%;
    left: -12%;
}
.down::before{
    content: "┃";
    top: 90%;
    left : 45%;
}
.right::before{

    content: "━━";
    top: 40%;
    left: 91%;
}
.up::before{
    content: "┃";
    top: -12%;
    left : 45%;
}







