body{
    background-color: #3F3F41;
}
p{
    color: #FFFFFF;
    font-family: sans-serif;
}
p.redovi{
    margin-top: 0;
}
h3{
    margin-top: 30px;
    transform: rotate(-90deg);
    margin-right: 0;
    color: #58585A;
    font-family: sans-serif;
}
input{
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-size: large;
}
input[type=text]{
    background-color: #535355;
    width: 12em;
    height: 40px;


}
input[type=submit]{
    background-color: #7AB139;
    width: 20em;
    height: 60px;
    margin-top: 40px;
    font-weight: bold;
    border: 0;
}
table{

    padding-right:5em;
    border-spacing: 0;
    font-weight: bold;
}
th, td {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 0.3em;
    text-align: center;
    height: 4em;
    width: 4em;

}
div{
    margin-top: 20px;
    float: left;
}
.firstCell{
    background-color: #58585A;
}





